<html ng-app="App">
  <head>
    <title>Options</title>

    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../../fonts/foundation-icons.css">

    <style>
      body {
        padding: 5px 5px;
      }
    </style>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/foundation.js"></script>
    <script type="text/javascript" src="../js/lodash.js"></script>
    <script type="text/javascript" src="../js/db.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <form>
      <fieldset>
        <legend ng-bind="appearance.newSourceSectionText"></legend>
        <div class="row left">
          <div class="small-3 columns">
            <input type="text" placeholder="{{ appearance.newSourceNamePlaceholderText }}" />
          </div>
          <div class="small-5 columns">
            <input type="text" placeholder="{{ appearance.newSourceUrlPlaceholderText }}" />
          </div>
          <div class="small-1 columns end">
            <a void ng-click="createNewEntry()"><i class="fi-check"></i></a>
          </div>
        </div>
      </fieldset>
      <div ng-repeat="entry in entries track by $index">
        <div class="row left">
          <div class="small-1 columns" ng-show="entry.edit">
            <a void ng-click="entry.edit=false"><i class="fi-x"></i></a>
            <a void ng-click="updateEntry(entry)"><i class="fi-check"></i></a>
          </div>
          <div class="small-3 columns" ng-class="{ 'end': !entry.edit }">
            <a void ng-bind="entry.name" ng-click="entry.newName=entry.name; entry.newUrl=entry.url; entry.edit=true" ng-hide="entry.edit"></a>
            <input type="text" ng-model="entry.newName" ng-show="entry.edit" />
          </div>
          <div class="small-5 columns" ng-class="{ 'end': entry.edit }" ng-show="entry.edit">
            <input type="text" ng-model="entry.newUrl" />
          </div>
        </div>
      </div>
    <form>
  </body>
</html>
