<html ng-app="App">
  <head>
    <title>Options</title>

    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../../fonts/foundation-icons.css">

    <style>
      body {
        padding: 5px 5px;
      }
    </style>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/foundation.js"></script>
    <script type="text/javascript" src="../js/lodash.js"></script>
    <script type="text/javascript" src="../js/db.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <form name="newItemForm" ng-submit="createNewEntry()">
      <fieldset>
        <legend ng-bind="appearance.newSourceSectionText"></legend>
        <div class="row left">
          <div class="small-3 columns">
            <input type="text" ng-model="newEntry.name" placeholder="{{ appearance.newSourceNamePlaceholderText }}" required />
          </div>
          <div class="small-5 columns">
            <input type="text" ng-class="{ 'error': newItemForm.url.$error.pattern }" ng-model="newEntry.url" placeholder="{{ appearance.newSourceUrlPlaceholderText }}" required pattern="https?:\/\/.+" name="url" />
            <span class="error" ng-show="newItemForm.url.$error.pattern" ng-bind="appearance.wrongUrlPatternValidationText"></span>
          </div>
          <div class="small-1 columns end">
            <button type="submit" class="button tiny info" ><i class="fi-plus"></i></button>
          </div>
        </div>
      </fieldset>
    </form>
    <div ng-repeat="entry in entries track by $index">
      <form ng-submit="updateEntry(entry)">
        <ng-form name="rssEntryForm">
          <div class="row left">
            <div class="small-1 columns">
              <a void ng-click="removeEntry(entry.id)"><i class="fi-trash"></i></a>
              <a void ng-hide="entry.edit" ng-click="editEntry(entry)"><i class="fi-pencil"></i></a>
              <a void ng-click="entry.edit=false" ng-show="entry.edit"><i class="fi-x"></i></a>
              <button type="submit" class="button tiny info" ng-show="entry.edit"><i class="fi-check"></i></button>
            </div>
            <div class="small-3 columns" ng-class="{ 'end': !entry.edit }">
              <a void ng-bind="entry.name" ng-click="editEntry(entry)" ng-hide="entry.edit"></a>
              <input type="text" ng-model="entry.newName" required ng-show="entry.edit" />
            </div>
            <div class="small-5 columns" ng-class="{ 'end': entry.edit }" ng-show="entry.edit">
              <input type="text" ng-model="entry.newUrl" ng-class="{ 'error': rssEntryForm.url.$error.pattern }" required pattern="https?:\/\/.+" name="url" />
              <span class="error" ng-show="rssEntryForm.url.$error.pattern" ng-bind="appearance.wrongUrlPatternValidationText"></span>
            </div>
          </div>
        </ng-form>
      </form>
    </div>
  </body>
</html>
